:root { 
--gray_50_01:#fafbfc; 
--pink_900:#601222; 
--blue_A100:#8db5eb; 
--red_400:#ce6042; 
--black_900_3f:#0000003f; 
--gray_50:#fff8f8; 
--black_900_01:#00000001; 
--pink_900_01:#6b2231; 
--black_900:#000000; 
--deep_orange_600:#f26419; 
--deep_orange_900:#b03b09; 
--deep_orange_300:#ff8e6e; 
--blue_gray_700:#4c535f; 
--blue_gray_900:#222831; 
--gray_700:#565656; 
--gray_400:#bebbbb; 
--gray_500:#a89e9e; 
--blue_gray_100:#d9d9d9; 
--blue_gray_400:#8d8d8d; 
--blue_gray_300:#8d98aa; 
--gray_800:#393e46; 
--blue_gray_600:#5e6282; 
--lime_900:#976402; 
--yellow_50:#ffffdd; 
--blue_gray_600_01:#33658a; 
--gray_200:#eaeaea; 
--orange_50:#ffebdb; 
--gray_400_01:#b7b7b7; 
--lime_900_01:#976502; 
--gray_400_02:#bdb7b7; 
--gray_400_03:#c1c1c1; 
--cyan_900:#174566; 
--white_A700:#ffffff; 
}